<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateGDAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <connectionStrings>
        <!-- Sử dụng SQL Server Authentication -->
        <add name="CreateGDAPI_DB"
             connectionString="Server=PHUOCTIGER\SQLEXPRESS;Database=CreateGDAPI_DB;User Id=sa;Password=123;TrustServerCertificate=True;MultipleActiveResultSets=True;"
             providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>

    <userSettings>
        <CreateGDAPI.Properties.Settings>
            <setting name="PartnerCode" serializeAs="String">
                <value />
            </setting>
            <setting name="AgencyCode" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoCancelIfNotPaid" serializeAs="String">
                <value>False</value>
            </setting>
        </CreateGDAPI.Properties.Settings>
    </userSettings>
</configuration>